= render partial: "style_guide/v1/components/navbar"

br

  = render partial: "style_guide/v1/components/entete_contact"

  = render partial: "style_guide/v1/components/send_mail"

br

= render partial: "style_guide/v1/components/contact_infos"

= render partial: "style_guide/v1/components/footer"
