= render partial: "style_guide/v1/components/entete_fournisseur"
= render partial: "style_guide/v1/components/rentmyspace"
= render partial: "style_guide/v1/components/rentexplication"

input.rent type="button" value=("Louer ma salle")

= render partial: "style_guide/v1/components/like_pictures"

/! FOOTER
= render partial: "style_guide/v1/components/footer"
