/! NAVBAR
= render partial: "style_guide/v1/components/navbar"

br

= render partial: "style_guide/v1/components/progress_bar"

br
= render partial: "style_guide/v1/components/recap_price"

= render partial: "style_guide/v1/components/add_services"

= render partial: "style_guide/v1/components/help"

= render partial: "style_guide/v1/components/footer"
