= render partial: "style_guide/v1/components/container"
= render partial: "style_guide/v1/components/whoarewe"
= render partial: "style_guide/v1/components/howitworks"
= render partial: "style_guide/v1/components/share"
