input.submitBtn type="submit" value="Recherche"
br
input#input-submit type="submit" value="Envoyer"
br
input.rent type="button" value=("retour à mon compte")
br
input.rent type="button" value=("Louer ma salle")
