center
  h1
    | Boutons
br
h3
  | Boutons
br
input.button_basic type="button" value=("Louer ma salle")
br
br
input.button_green type="button" value=("Louer ma salle")
br
br
input.button_orange type="button" value=("Louer ma salle")
br
br
input.button_yellow type="button" value=("Louer ma salle")

br
br
h3
  | Small Boutons
br
input.button_basic_sm type="button" value=("Louer ma salle")
br
br
input.button_green_sm type="button" value=("Louer ma salle")
br
br
input.button_orange_sm type="button" value=("Louer ma salle")
br
br
input.button_yellow_sm type="button" value=("Louer ma salle")
