.create_title{
  color: white;
  background-color: #e8bc44;
  padding: 1%;
}

.building_left{
  float: left;
  width: 100%;
  background-color: white;
  display: inline-block;
}

.navleft_building{
  float: left;
  width: 15%;
  height: 100%;
  background-color: #e8bc44;
  padding-top: 9px;
  padding-bottom: 10%;
}

.onglets{
  text-decoration: none;
  color: black;
  padding: 4%;
  width: 100%;
}

.onglets:hover{
  background-color: #81b570;
  color: white;
  width: 100%;
  padding: 4%;
}

.navleft2_building{
  margin-right: 13%;
  float: right;
}

.navleft2_building h3{
  color: #5d8cc2;
}

.input{
  width: 100%;
}



.building_right{
  float: right;
  width: 30%;
  height: 1000px;
  background-color: rgb(246, 246, 246);
  display: inline-block;
}

.bloc_right{
  text-align: center;
  width: auto;
  height: auto;
  background-color: white;
  margin-left: 170px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 17%;
  position: fixed;
}

.input_title{
  color: #81b570;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .building_right{
    display: none;
  }
  .navleft_building{
    display: none;
  }
  .navleft2_building{
    width: 100%;
    margin-left: 4%;
    text-align: center;
    margin-right: 4%;
    float: none;
  }
  .mapouter{
    width: 100%;
  }

  #gmap_canvas{
    width: 100%;
    text-align: center;
  }
  .building_left{
    width: 90%;
  }
  .create_title{
    padding-top: 5px;
    font-size: 20px;
    padding-bottom: 5px;
    text-align: center;
  }
}



///////// horaires toggle////////

//////// service restauration ///////


.radio_food{
  text-align: left;
  margin-left: 40%;
}

.navleft3_building h3{
  color: #5d8cc2;
}

//////  my account  //////

.information p{
  text-align: left;
  padding-left: 1%;
}

.btn_account{
  padding: 1%;
  background-color: #81b570;
  text-decoration: none;
  color: white;
}

.btn_account:hover{
  background-color: #5d8cc2;
}
