* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-size: cover;
  background-attachment: fixed;
}

.jumbotron {
  border-radius: 0px;
  padding: 0;
  height: 400px;
  background: black url("http://www.mfco.com.au/app/uploads/2014/08/blur_8.jpg") no-repeat;
  background-size: cover;
}
.jumbotron nav {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 1em;
  padding-top: .50em;
  padding: 1%;
  background-color: rgba(0, 0, 0, 0.36);
}
.jumbotron nav a:nth-of-type(2) {
  margin-left: auto;
  padding: .15em .60em;
}
.jumbotron nav a:nth-of-type(2):hover {

}
.jumbotron nav a {
  color: white;
  margin: auto .80em;
  text-decoration: none;
  text-shadow: 0 1px 2px black;
}
.jumbotron #title {
  color: white;
  text-shadow: 0 1px 2px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3em;
}

.catchtitle{
  color: #d86d3e;
  font-size: 40px;
  font-weight: bold;
}

.catchsubtitle{
  font-size: 30px;
  color: white;
}

.icon_phone{
  width: 2%;
}

@media screen and (max-width: 640px){
  .catchtitle{
    font-size: 25px;
    text-align: center;
  }
  .mini_inscription{
    display: none;
  }
  .jumbotron{
    padding-bottom: 5px;
    height: auto;
  }
  .jumbotron nav {
    padding-top: 3%;
    padding: 0px;
  }
  #myDIV{
    display: none;
  }
  .flex-form_home {
    width: 100%;
    margin: 0px;
  }
  .icon_phone{
    display: none;
  }
}

////// SEARCHBAR ////////

#guests{
  width: 15%;
}

#prices{
  width: 15%;
}

#dt{
  display: inline-block;
  width: 20%;
}

.searchbuttons{
  display: inline-block;
  height: 40px;
  width: 200px;
  color: white;
  border: none;
  background-color: rgba(0, 0, 0, 0.36);
  font-size: 15px;
  font-weight: bold;
}

#big{
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.36);
  height: 40px;
  width: 200px;
  color: white;
  border: none;
}

.active, .searchbuttons:hover{
  background:#5d8cc2;
  cursor: pointer;
}

.active, #big:hover{
  background:#5d8cc2;
  cursor: pointer;
}

/*Flexbox Starts Here*/

.search_bar{
  background: #000000;
  display:flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  h3{
    color: #FFFFFF;
    font-size: 1rem;
  }
  form{
    display: flex;
    flex-direction: row;
    input{
      width: 20rem;
    }
    .primary_submit{
      width: 10rem;
      margin-left: 1rem;
      background-color: #5d8cc2;
      color: #FFFFFF;
      font-weight: 700;
    }
  }
}

.search_bar_home {
  width: 70%;
  background-color:  rgba(0, 0, 0, 0.36);
  border-radius: 2%;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  form{
    display: flex;
    flex-direction: row;
    input{
      width: 20rem;
    }
    .primary_submit{
      width: 10rem;
      margin-left: 1rem;
      background-color: #5d8cc2;
      color: #FFFFFF;
      font-weight: 700;
    }
  }
}

.search_bar_home input[type="submit"] {
  background:#5d8cc2;
  border-top: 1px solid #5d8cc2;
  border-bottom: 1px solid #5d8cc2;
  color:white;
  margin-top: 2%;
  display: inline-block;
}

.search_bar_home > * {
  border:0;
  padding:10px;
  background-color: rgba(0, 0, 0, 0.36);
  border-radius:5px;
}

.town{
  width: 50%;
  display: inline-block;
  float: left;
}

input:hover{
  cursor: pointer;
}

select:hover{
  cursor: pointer;
}

.datepicker{
  text-decoration: none;
  background-color: transparent;
  border-radius: 0%;
  color: white;
  font-weight: bold;
}

.color_results{
  background-color: #f6f7fe;
}

@media screen and (max-width: 600px){
  #guests{

  }
  #prices{

  }
  .flex-form{
    display: block;
    width: 100%;
    text-align: center;
  }
  .flex-form_home{
    background: transparent;
  }
  .datepicker{
    display: none;
  }
  #dt{

  }
  .town{
    text-align: center;
    margin-left: 13%;
    width: 70%;
  }
  .flex-form > *:not([type="date"]) {
    width: 80%;
  }
}

/* CONTAINER */

.container{
  padding: 1em 0;
  float: left;
  width: 100%;
  text-align: center;
  background-color: #f6f7fe;
}
@media screen and (max-width: 640px){
  .container{
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px){
  .container{
    width: 100%;
  }
}

.container .title{
  color: #d86d3e;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
}

.subtitle_container{
  font-weight: bold;
  color: black;
}

.content {
  position: relative;
  width: 400px;
  height: 200px;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
  display: inline-block;
  padding-right: 2px;
  margin-bottom: 2px;
}

.content-image{
  width: 100%;
}

.infos_img{
  background-color: lightgrey;
  color: black;
  margin-top: -22%;
}

/////// test //////
.info {
  font-family: 'Alegreya Sans', sans-serif;
  padding-bottom: 2rem;
  text-align: center;
}

.card_line1{
  width: 100%;
  display: block;
}

.card_line2{
  width: 100%;
  display: block;
}

.card {
  max-width: 400px;
  width: 100%;
  margin: auto;
  background: lightgrey;
  border-radius: 2px;
  box-sizing: border-box;
  border: 1px solid white;
  padding-bottom: 3px;
  overflow:hidden;
  display: inline-block;
  margin-right: 10px;
  margin-top: 2px;
  padding-top: 0;
  margin-bottom: 1%;
  text-align: center;


.title_card{
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.text_card{
  color: black;
  margin-top: -3%;
}

.text_card2{
  color: black;
  font-weight: bold;
}

  a {
    text-decoration: none;
    color: white;
  }

  .meta {

    .favicon {
      display: block;
      vertical-align: middle;
      float: left;
      margin-right: .5rem;
      margin-left: 1rem;
      width: 16px;
      height: 16px;
    }

    .timestamp {
      font-size: .75rem;
      color: #999;
      line-height: 18px;
      display: block;
      margin-top: 0px;
    }
  }



  .photo {
     width: 100%;
     display: block;
     padding: 1%;
     height: 40%;
  }

  .title, .description {
    padding: 0 1rem;
  }

  .title {
    font-size: 1.75rem;
    margin: 0;
    font-family: 'Alegreya Sans', sans-serif;
    color: #333;
    margin-top: .5rem;
    font-weight: b700;
  }

  .description {
    font-size: 1rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    color: #555;

    p {
      line-height: 1.51;
      margin-top: 0;
    }

    p:last-of-type {
      margin-bottom: 0;
    }
  }

}

////// bloc comment ça marche //////

.howitworks{
  padding-top: 3%;
  padding-bottom: 3%;
  float: left;
  width: 100%;
  text-align: center;
  background-color: #81b570;
  color: white;
}

.howitworks .title{
  color: #d86d3e;
}

.textworks {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
  display: inline-block;
  margin-left: -30px;
  margin-top: -20px;
}

.textcolumn{
  width: 30%;
  display: inline-block;
  padding-left: 30px;
  padding-top: 20px;
}

.textcolumn h5{
  font-size: 20px;
  font-weight: bold;
  color: #d86d3e;
}

@media screen and (max-width: 640px){
  .textcolumn{
    width: 80%;
    display: inline-block;
    padding-left: 30px;
  }
}


////// bloc partager ma salle //////

.share{
  padding: 1em 0;
  float: left;
  width: 100%;
  height: auto;
  text-align: center;
  background-image: url("office-blur.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.contentshare p{
  font-weight: bold;
  font-size: 20px;
}

.share .title{
  color: #5d8cc2;
}

.textshare {
  position: relative;
  width: 50%;
  margin: auto;
  overflow: hidden;
  padding-top: 2%;
}

.sharecolumn{
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}

.sub_title_share{
  font-size: 20px;
  font-weight: bold;
  color: #5d8cc2;
}

.sharebutton{
	width: 260px;
	background: #5d8cc2;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: white;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 3%;
	margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
}

.sharebutton:hover{
	opacity: 0.8;
  color: #5d8cc2;
  background: white;
}

@media screen and (max-width: 640px){
  .sharecolumn{
    width: 80%;
    display: inline-block;
    padding-left: 30px;
  }
  .share{
    height: auto;
  }
  .contentshare{
    margin-top: 10px;
  }
}

//////qui sommes nous //////

/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #e8bc44;
    width: 100%;
}

.tablinks{
  width: 20%;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    font-weight: bold;
    width: 25%;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #5d8cc2;
    color: white;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #5d8cc2;
    color: white;
}

/* Style the tab content */
.tabcontent {
    display: none;
    border-top: none;
    background-color: #5d8cc2;
    color: white;
    width: 100%;
}

.tabtext{
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.tabtext h3{
  color: #e8bc44;
  font-weight: bold;
  font-size: 30px;
}

@media screen and (max-width: 640px){
  .tab button{
    display: block;
    float: none;
  }
  .tab{
    display: none;
  }
  .tabtext {
    display: none;
  }
}

//////create space //////

/* Style the tab */
.tab_space {
    overflow: hidden;
    background-color: #e8bc44;
    width: 100%;
}

.tablinks_space{
  width: 20%;
}

/* Style the buttons inside the tab */
.tab_space button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    font-weight: bold;
}

/* Change background color of buttons on hover */
.tab_space button:hover {
    background-color: #f6f7fe;
    color: black;
}

/* Create an active/current tablink class */
.tab_space button.active {
    background-color: #f6f7fe;
    color: black;
}

/* Style the tab content */
.tabcontent_space {
    display: none;
    border-top: none;
    background-color: #f6f7fe;
    color: black;
    width: 100%;
}

.tabtext_space{
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.tabtext_space h2{
  color: #e8bc44;
  font-weight: bold;
  font-size: 30px;
}

.tabcontent_account {
    display: none;
    border-top: none;
    background-color: #f6f7fe;
    color: black;
    width: 100%;
}

.tabtext_account{
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.tabtext_account h2{
  color: #e8bc44;
  font-weight: bold;
  font-size: 30px;
}

@media screen and (max-width: 640px){
  .tab_space button{
    display: block;
    float: none;
  }
  .tab_space{
    display: none;
  }
  .tabtext_space {
    display: none;
  }
}

//////my profil infos //////

/* Style the tab */
.tab_account {
    overflow: hidden;
    background-color: #e8bc44;
    width: 100%;
}

.tablinks_account{
  width: 20%;
}

/* Style the buttons inside the tab */
.tab_account button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    font-weight: bold;
}

/* Change background color of buttons on hover */
.tab_account button:hover {
    background-color: #f6f7fe;
    color: black;
}

/* Create an active/current tablink class */
.tab_account button.active {
    background-color: #f6f7fe;
    color: black;
}

/* Style the tab content */
.tabcontent_account {
    display: none;
    border-top: none;
    background-color: #f6f7fe;
    color: black;
    width: 100%;
}

.tabtext_account{
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.tabtext_account h2{
  color: #e8bc44;
  font-weight: bold;
  font-size: 30px;
}

.infos_split{
  display: inline-block;
  width: 50%;
}

.building_card{
  display: inline-block;
  width: 40%;
  border: 1px solid black;
  padding: 1%;
}

.building_img{
  width: 50%;
  height: auto;
}

@media screen and (max-width: 640px){
  .tab_account button{
    display: block;
    float: none;
  }
  .tab_account{
    display: none;
  }
  .tabtext_account {
    display: none;
  }
}

////// FOOTER//////

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.generic-anchor {
  color: white;
}
.generic-anchor:visited {
  color: white;
}
.generic-anchor:hover {
  color: #e8bc44;
}

.flex-rw {
  display: flex;
  flex-flow: row wrap;
  background: #93629d;
}

footer {
  background: lightgrey;
  margin-top: auto;
  width: 100%;
  font-size: 12px;
  color: white;
  text-align: center;
}

.footer_right{
  text-align: right;
  width: 100%;
  padding-right: 2%;
}

.center_footer{

}

.footer-list-top {
  width: 23.333%;
  padding-left: 10%;
  margin-top: 3%;
}

.footer-list-top h1{
  color: #e8bc44;
}

.footer-list-top a{
  font-size: 15px;
  text-align: center;
}

.footer-list-top > li {
  text-align: left;
  padding-bottom: 10px;
}

.footer-list-header {
  padding: 10px 0 5px 0;
  color: #fff;
}

.footer-list-anchor {
}

.footer-social-section {
  width: 100%;
  position: relative;
  margin-top: 5px;
}

.footer-social-section::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 10px;
  border-top: 1px solid #ccc;
  width: calc(100% - 20px);
}

.footer-social-overlap {
  position: relative;
  z-index: 2;
  background: lightgrey;
  padding: 0 20px;
}

.footer-social-connect {
  display: flex;
  color: #fff;
}

.footer-social-small {
  font-size: 0.6em;
  padding: 0px 20px;
}

.footer-social-overlap > a {
  font-size: 3em;
}

.footer-social-overlap > a:not(:first-child) {
  margin-left: 0.38em;
}

.footer-bottom-section {
  width: 100%;
  padding: 10px;
  border-top: 1px solid #ccc;
  margin-top: 10px;
}

.footer-bottom-section > div:first-child {
  margin-right: auto;
}

.footer-bottom-wrapper {
  font-size: 1.5em;
  color: #fff;
}

.footer-address {
  display: inline;
  font-style: normal;
}

@media only screen and (max-width: 768px) {
  .footer-list-header {
  }

  .footer-list-anchor {
  }

  .footer-social-connect {
  }

  .footer-social-overlap > a {
  }

  .footer-bottom-wrapper {
  }
}
@media only screen and (max-width: 568px) {

  .footer-list-top {
    width: 23.333%;
    padding-left: 30%;
    margin-top: 3%;
  }

  .icon_socials {
    display: none;
  }

}
