*{
  font-family: 'Oswald', sans-serif;
}

/////// RESULTS PRODUCTS ////////

.jumbotron2 {
  border-radius: 0px;
  padding: 0;
  height: 50px;
  background-color: #428CC6;
}
.jumbotron2 nav {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 1em;
  padding-top: .50em;
  width: 100%;
}
.jumbotron2 nav a:nth-of-type(2) {
  margin-left: auto;
  border: solid 2px white;
  padding: .15em .60em;
  border-radius: 2%;
}
.jumbotron2 nav a:nth-of-type(2):hover {
  margin-left: auto;
  border: solid 2px white;
  padding: .15em .60em;
  background-color: white;
  color: #428CC6;
  border-radius: 2%;
}
.jumbotron2 nav a {
  color: white;
  margin: auto .80em;
  text-decoration: none;
  text-shadow: 0 1px 2px black;
}

.wrapper {
    width: 700px;
    margin: 20px auto;
}

@media screen and (max-width:768px) {
  .jumbotron2 {
    height: 80px;;
  }
}

////// SEARCHBAR ////////

/*Hack to get them to align properly */
.flex-form_home > *:not([type="date"]) {
  border-top:1px solid white;
  border-bottom:1px solid white;
}

.flex-form_home input[type="submit"] {
  background:#428CC6;
  border-top: 1px solid #428CC6;
  border-bottom: 1px solid #428CC6;
  color:white;
}


.flex-form_home > * {
  border:0;
  padding:10px;
  background:white;
  margin:10px;
  border-radius:5px;
  outline:0;
  -webkit-appearance:none;
}

.flex-form_home > *:last-child {
  border-right: 0;
}

/*Flexbox Starts Here*/

.flex-form_home{
  z-index:10;
  background:rgba(0,0,0,0.3);
  border-radius:5px;
  display:flex;
  width: 40%;
  justify-content: center;
}

input:hover{
  cursor: pointer;
}

select:hover{
  cursor: pointer;
}

input[type="search"]{
  flex-basis:500px;
}

.datepicker{
  text-decoration: none;
  background-color: transparent;
  border-radius: 0%;
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 640px){
  #guests{
    display: none;
  }
  #prices{
    display: none;
  }
  .flex-form{
    display: block;
    width: 100%;
    text-align: center;
  }
  .datepicker{
    display: none;
  }
  #dt{
    display: none;
  }
  #dt2{
    display: none;
  }
}


/* products */
.product-box {
  font: 13px/23px "Raleway", Arial, sans-serif;
  color: #303336;
  float: left;
  display: inline-block;
  width: 60%;
  text-align: center;
}

.boxprod{
  width: 100%;
}

.container_product{
  text-decoration: none;
  color: black;
}

.product-maps{
  float: right;
  width: 70%;
}

.containerbox {
  margin: 0 auto;
  width: 400px;
  background: white;
  border-radius: 3px;
  position: relative;
  display: inline-block;
  color: black;
  border: 1px dashed black;
  margin-top: 10px;
}

.hero-image{
  width: 100%;
}




@media screen and (max-width:600px) {

}


////// product test   ///////
.product-image {
	display: block;
	min-height: 20rem; /* layout hack */
	background: #fff center center no-repeat;
	background-size: cover;
}

.product-image > img {
	display: block;
	width: 100%;
	opacity: 0; /* visually hide the img element */
}

.product-image.is-loaded {
	transition: filter 1s;
}

.product-list {
	display: block;
	margin: 1rem auto;
	padding: 0;
	font-size: 0;
	text-align: center;
	list-style: none;
}

.product {
	display: block;
	width: 50%;

	margin: 1rem;
	font-size: 1rem;
	text-decoration: none;
	overflow: hidden;
	box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.product:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.product-description {
	display: block;
	color: black;
	text-decoration: none;
  height: auto;
}

.product-description > h2 {
	margin: 0 0 0.5em;
}

.product-description > p {
	margin: 0;
}

.price {
  color: white;
  text-align: center;
  background: #428CC6;
  font-size: 200%;
  width: auto;
  float: left;
  padding: 2%;
}
.price div {
  font-weight: bold;
}

.information {
  text-align: center;
  margin-right: 10%;
}

.name {
  font-size: 22px;
}

.store {
  font-size: 16px;
  color: #8c98a8;
  margin-bottom: 3%;
}

.nbrs{
  display: inline-block;
  padding-right: 20px;
}

.stars{
  display: inline-block;
  padding-left: 20px;
}

@media screen and (max-width:600px) {
  .price {
    width: 100%;
    font-size: 150%;
  }
  .product{
    width: 100%;
  }
  .information {
    text-align: center;
    margin-right: 0%;
  }
}



/////////////////
.ideas{
   width: 80%;
   margin-top: 5%;
   margin-bottom: 5%;
 }

.pictures_idea{
   display: inline-block;
   width: 40%;
 height: 250px;
   text-align: center;
 }
@media only screen and (max-width: 600px) {
  .ideas{
     width: 100%;
   }
  .pictures_idea{
     width: 100%;
   }
 }

//// price slider  ////
#range-slider {
  max-width: 80%;
  margin: 0 auto;
  padding-top: 50px;
  width: 20%;
  margin-right: 79%;
}
#slider-range { background-color: #D4D4D4; }

.ui-slider-horizontal .ui-slider-range { background-color: #6798BD; }

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-active, .ui-widget-content .ui-state-active, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
  background: #fff!important;
  border: 1px solid #cccccc!important;
}

.ui-slider .ui-slider-handle {
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.20);
  border-radius: 50%;
  height:20px;
  width:20px;
}

#amount {
  font-size: 1.75em;
  font-weight: 300;
  line-height: 1.6875em;
  color:#6798BD;
  text-align:center;
  width:100%;
  margin-top: 20px;
}





/*SLIDER*/

.slider {
  margin: 0 auto;
  max-width: 940px;
  width: 100%;
}

.slide_viewer {
  height: 340px;
  overflow: hidden;
  position: relative;
}

.slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.slide:first-child {
  display: block;
}

.slide:nth-of-type(1) {
  background-image: url("http://www.croatia-holidayhome.com/wp-content/uploads/2018/03/creative-office-new-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.slide:nth-of-type(2) {
  background-image: url("http://dreamstop.com/wp-content/uploads/2013/07/office-dream-meaning.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.slide:nth-of-type(3) {
  background-image: url("https://www.officelovin.com/wp-content/uploads/2016/01/ragged-edge-london-office-6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.slide:nth-of-type(4) {
  background-image: url("http://wiredwriters.net/wp-content/uploads/2016/02/1748-56cc448f28226.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.slide_buttons {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  visibility: hidden;
}

a.slide_btn {
  color: #474544;
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
  color: #428CC6;
  cursor: pointer;
}

.directional_nav {
  height: 340px;
  margin: 0 auto;
  max-width: 940px;
  position: relative;
  top: -340px;
}

.previous_btn {
  bottom: 0;
  left: 100px;
  margin: auto;
  position: absolute;
  top: 0;
}

.next_btn {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 100px;
  top: 0;
}

.previous_btn, .next_btn {
  cursor: pointer;
  height: 65px;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 65px;
}

.previous_btn:hover, .next_btn:hover {
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .slider {
    max-width: 940px;
    width: 100%;
  }
  .slide_viewer {
    overflow: hidden;
    position: relative;
  }
  .previous_btn {
    left: 50px;
  }
  .next_btn {
    right: 50px;
  }
}



////// FOOTER//////

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.generic-anchor {
  color: white;
}
.generic-anchor:visited {
  color: white;
}
.generic-anchor:hover {
  color: #ccc;
}

.flex-rw {
  display: flex;
  flex-flow: row wrap;
}

main {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9b9b9b;
  line-height: 1;
}

footer {
  background: #373737;
  margin-top: auto;
  width: 100%;
  font-size: 12px;
  color: white;
}

.footer-list-top {
  width: 33.333%;
}

.footer-list-top > li {
  text-align: center;
  padding-bottom: 10px;
}

.footer-list-header {
  padding: 10px 0 5px 0;
  color: #fff;
}

.footer-list-anchor {
}

.footer-social-section {
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-top: 5px;
}

.footer-social-section::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 10px;
  border-top: 1px solid #ccc;
  width: calc(100% - 20px);
}

.footer-social-overlap {
  position: relative;
  z-index: 2;
  background: #373737;
  padding: 0 20px;
}

.footer-social-connect {
  display: flex;
  align-items: center;
  color: #fff;
}

.footer-social-small {
  font-size: 0.6em;
  padding: 0px 20px;
}

.footer-social-overlap > a {
  font-size: 3em;
}

.footer-social-overlap > a:not(:first-child) {
  margin-left: 0.38em;
}

.footer-bottom-section {
  width: 100%;
  padding: 10px;
  border-top: 1px solid #ccc;
  margin-top: 10px;
}

.footer-bottom-section > div:first-child {
  margin-right: auto;
}

.footer-bottom-wrapper {
  font-size: 1.5em;
  color: #fff;
}

.footer-address {
  display: inline;
  font-style: normal;
}

@media only screen and (max-width: 768px) {
  .footer-list-header {
  }

  .footer-list-anchor {
  }

  .footer-social-connect {
  }

  .footer-social-overlap > a {
  }

  .footer-bottom-wrapper {
  }
}
@media only screen and (max-width: 568px) {
  main {
  }

  .footer-list-top {
    width: 100%;
  }

  .footer-list-header {
  }

  .footer-list-anchor {
  }

  .footer-social-section {
    justify-content: center;
  }

  .footer-social-section::after {
    top: 25%;
  }

  .footer-social-connect {
    margin-bottom: 10px;
    padding: 0 10px;
  }

  .footer-social-overlap {
    display: flex;
    justify-content: center;
  }

  .footer-social-icons-wrapper {
    width: 100%;
    padding: 0;
  }

  .footer-social-overlap > a:not(:first-child) {
    margin-left: 20px;
  }

  .footer-bottom-section {
    padding: 0 5px 10px 5px;
  }

  .footer-bottom-wrapper {
    text-align: center;
    width: 100%;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .footer-social-overlap > a {
    margin: auto;
  }

  .footer-social-overlap > a:not(:first-child) {
    margin-left: 0;
  }

  .footer-bottom-rights {
    display: block;
  }
}
@media only screen and (max-width: 320px) {
  .footer-list-header {
  }

  .footer-list-anchor {
  }

  .footer-social-connect {
  }

  .footer-social-overlap > a {
  }

  .footer-bottom-wrapper {
  }
}






/////////  PRODUCT PAGE //////////


/*SLIDER*/

.slider2 {
  margin: 0 auto;
  max-width: 940px;
  width: 70%;
  float: left;
  padding-left: 200px;
  display: block;
}

.slide_viewer2 {
  height: 340px;
  overflow: hidden;
  position: relative;
}

.slide_group2 {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide2 {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.slide2:first-child {
  display: block;
}

.slide2:nth-of-type(1) {
  background-image: url("http://www.croatia-holidayhome.com/wp-content/uploads/2018/03/creative-office-new-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.slide2:nth-of-type(2) {
  background-image: url("http://dreamstop.com/wp-content/uploads/2013/07/office-dream-meaning.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.slide2:nth-of-type(3) {
  background-image: url("https://www.officelovin.com/wp-content/uploads/2016/01/ragged-edge-london-office-6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.slide2:nth-of-type(4) {
  background-image: url("http://wiredwriters.net/wp-content/uploads/2016/02/1748-56cc448f28226.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 767px) {
  .slider {
    max-width: 940px;
    width: 100%;
  }
  .slide_viewer {
    overflow: hidden;
    position: relative;
  }
}

/*fin slide*/

.product_left{
  float: left;
  width: 50%;
}

.text_left{
  margin-top: 350px;
  padding-left: 200px;
  width: 70%;
}

.smalltext{
  font-size: 9px;
  font-style: italic;
  color: grey;
}

.product_infos{
  display: inline-block;
  padding-left: 0px;
}

.product_title{
  font-size: 20px;
  color: #428CC6;
  font-weight: bold;
}

.product_ss_title{
  color: #428CC6;
}

.equipement{
  width: 40%;
  display: inline-block;
}

.maps_title{
  color: #428CC6;
  font-weight: bold;
}

.food_bloc{
  width: 100%;
  margin-left: 13%;
}

.menus{
  display: inline-block;
  padding-left: 85px;
}

.food{
  color: #428CC6;
  font-weight: bold;
}

.food2{
  color: black;
  font-weight: bold;
}












//////// products with maps /////////

.items {
  width: 60%;
  font-size: 0;
}
.items__item {
  display: inline-block;
  vertical-align: bottom;
  width: 40%;
  margin: 2rem 5%;
  text-align: center;
  padding: 2rem 1rem 1rem;
  cursor: pointer;
  color: #222;
  border-radius: 4px;
}
.items__item img {
  width: 100%;
  height: auto;
}
.items__item.is-selected {
  background: #b00;
  color: white;
}
.items__title {
  font-size: 14px;
  text-transform: uppercase;
  font-family: sans-serif;
  letter-spacing: .1em;
  padding-top: 1rem;
}
.map {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
}
.map__icon {
  position: relative;
}
.map__icon span {
  font-size: 10px;
  white-space: nowrap;
  background: #b00;
  color: white;
  display: block;
  padding: .5em;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.map__icon span:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #b00 transparent transparent transparent;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
}
.popup img {
  width: 100%;
  height: auto;
}
.popup h3 {
  padding: 5px;
  font-size: 12px;
}
.leaflet-popup-content-wrapper {
  border-radius: 4px;
}
.leaflet-popup-content {
  width: 240px;
  padding: 20px 5px 0;
  margin: 0;
}


///// contact page //////
.contact{
  background-color: rgba(5, 15, 244, 0.11);
  padding-top: 5%;
  height: 300px;
}

.contact_txt{
 text-align: left;
 width: 80%;
}

.contact_title{
  color: #428CC6;
  text-align: center;
}


.contact_subtitle{
  text-align: center;
}

.contact_left{
  display: inline-block;
  width: 70%;
}

.contact_right{
  text-align: left;
  display: inline-block;
}

.contact_right h5{
  color: #428CC6;
  font-weight: bold;
  font-size: 20px;
}

form {
  max-width: 80%;
  padding-left: 2%;
}
form input, form textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 1em;
  font-family: 'Merriweather', sans-serif;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}
form input:focus, form textarea:focus {
  -moz-box-shadow: 0 0px 2px #428CC6 !important;
  -webkit-box-shadow: 0 0px 2px #428CC6 !important;
  box-shadow: 0 0px 2px #428CC6 !important;
}
form #input-submit {
  color: white;
  background: #428CC6;
  cursor: pointer;
  width: 20%;
  margin-left: 38%;
}
form #input-submit:hover {
  -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}
form textarea {
  height: 107px;
}

.half {
  float: left;
  width: 80%;
  margin-bottom: 1em;
}

.right {
  width: 45%;
  display: inline-block;
  padding-left: 5%;
}

.left {
  width: 45%;
  display: inline-block;
}

@media (max-width: 600px) {
  .cf{
    max-width: 100%;
    text-align: center;
  }
  .cf h1{
    font-size: 12px;
  }
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
  .right {
    width: 70%;
    display: inline-block;
    padding-left: 0%;
  }

  .left {
    width: 70%;
    display: inline-block;
  }
  .contact{
    height: 350px;
  }
  .contact_left{
    display: inline-block;
    width: 100%;
  }
  .contact_right{
    padding-top: 5%;
    padding-left: 5%;
  }
}
/* Clearfix */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

/////// paiement pages  /////

  //////// line of paiement ///////

.progression{
  list-style:none
}
.numberCircle{
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin-left:.6em;
  padding: 4px;
  background: none repeat scroll 0% 0% #FFF;
  border: 2px solid #428CC6;
  color: #428CC6;
  text-align: center;
  font: 28px HelveticaNeueW01-45Ligh;
  display: inline-block;
}
.numberCircle:after{
  content: "";
  display: inline-block;
  height: 1px;
  background-color: #428CC6;
  max-width: 100%;
  position: absolute;
  margin-right: 16px;
  margin-left: 44px;
  margin-top: .5em;
  vertical-align: middle;
  padding: 0px;
  width: 52px;
}
.numberCircle:after:last-child{
  content:"";
  display:none;
  height:0
}
.normal{
  display:block;
  color:#428CC6;
  margin-top: 1em;
}
.progression li:nth-child(4) .normal{
  margin-left: 0px;
}
.progression li:nth-child(3) .normal{
  margin-left: -5px;
}
.progression li:nth-child(5) .normal{
  margin-left: -7px;
}
.progression li:nth-child(2) .normal{
  margin-left: -8px;
}
.progression li{min-width: 150px;
  margin-bottom: 2em;
}
.progression li{
  display:inline-block;
  width: 180px;
}
.progression li:last-child .numberCircle:after{
  content:'';
  display:none
}

//////// paiement pages  ////////

.img_paiement{
  width: 15%;
  display: inline-block;
}

.left_display{
  display: inline-block;
  width: 80%;
  padding-left: 10px;
}

.schedule{
  display: inline-block;
}

.left_paiement{
  float: left;
  margin-left: 10px;
  width: 60%;
}

.right_paiement{
  float: right;
  padding-right: 10px;
}

.right_infos{
  border: 1px solid black;
}

.right_recap{
  border: 1px solid black;
}

.right_why{
  background-color: #428CC6;
}

.radio_left{
display: inline-block;
}

.radio_right{
display: inline-block;
padding-left: 10px;
}
