*{
  font-family: 'Oswald', sans-serif;
}

/////// RESULTS PRODUCTS ////////

.jumbotron2 {
  border-radius: 0px;
  padding: 1%;
  background-color: #d86d3e;
}
.jumbotron2 nav {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 1em;
  padding-top: .50em;
  width: 100%;
}
.jumbotron2 nav a:nth-of-type(2) {
  margin-left: auto;
  border: solid 2px #81b570;
  padding: .15em .60em;
  color: white;
}
.jumbotron2 nav a:nth-of-type(2):hover {
  margin-left: auto;
  padding: .15em .60em;
  background-color: #81b570;
  color: white;
  border-radius: 2%;
}
.jumbotron2 nav a {
  color: white;
  margin: auto .80em;
  text-decoration: none;
  text-shadow: 0 1px 2px black;
}

.wrapper {
    width: 700px;
    margin: 20px auto;
}

@media screen and (max-width:600px) {
  .jumbotron2 {
    padding-bottom: 5px;
    height: auto;
  }
  .jumbotron2 nav {
    padding-top: 3%;
    padding: 0px;
  }
  .mini_inscription{
    display: none;
  }
  #guests{
    display: none;
  }
  #prices{
    display: none;
  }
  .datepicker{
    display: none;
  }
}

////// SEARCHBAR ////////

/*Hack to get them to align properly */
.flex-form_home > *:not([type="date"]) {
  border-top:1px solid white;
  border-bottom:1px solid white;
}

.flex-form_home input[type="submit"] {
  background:#5d8cc2;
  border-top: 1px solid #5d8cc2;
  border-bottom: 1px solid #5d8cc2;
  color:white;
  width: 20%;
  display: inline-block;
  margin-left: 30px;
}


.flex-form_home > * {
  border:0;
  padding:10px;
  background:white;
  border-radius:5px;
  outline:0;
  -webkit-appearance:none;
}

.flex-form_home > *:last-child {
  border-right: 0;
}

input:hover{
  cursor: pointer;
}

select:hover{
  cursor: pointer;
}

input[type="search"]{
  flex-basis:500px;
}

.datepicker{
  text-decoration: none;
  background-color: transparent;
  border-radius: 0%;
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 640px){
  #guests{
    display: none;
  }
  #prices{
    display: none;
  }
  .flex-form{
    display: block;
    width: 80%;
    text-align: center;
    padding: 10%;
  }
  .datepicker{
    display: none;
  }
  #dt{
    display: none;
  }
  #dt2{
    display: none;
  }
  .flex-form_home input[type="submit"]{
    width: 20%;
    margin-right: 35px;
  }
}


/* products */
.product-box {
  font: 13px/23px "Raleway", Arial, sans-serif;
  color: #303336;
  float: left;
  display: inline-block;
  width: 60%;
  text-align: center;
}

.boxprod{
  width: 100%;
}

.container_product{
  text-decoration: none;
  color: black;
}

.product-maps{
  float: right;
  width: 70%;
}

.containerbox {
  margin: 0 auto;
  width: 400px;
  background: white;
  border-radius: 3px;
  position: relative;
  display: inline-block;
  color: black;
  border: 1px dashed black;
  margin-top: 10px;
}

.hero-image{
  width: 100%;
}




@media screen and (max-width:600px) {

}


////// product test   ///////
.product-image {
	display: block;
	min-height: 30rem; /* layout hack */
	background: #fff center center no-repeat;
	background-size: cover;
}

.product-image > img {
	display: block;
	width: 100%;
	opacity: 0; /* visually hide the img element */
}

.product-image.is-loaded {
	transition: filter 1s;
}

.product-list {
	display: block;
	margin: 1rem auto;
	padding: 2%;
  padding-left: 2%;
	font-size: 0;
	text-align: center;
	list-style: none;
}

.product {
	display: block;
	width: 50%;
	font-size: 1rem;
	text-decoration: none;
  margin-bottom: 4%;
	overflow: hidden;
	box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.product-description {
	display: block;
	color: black;
	text-decoration: none;
  height: auto;
  margin-top: -23%;
}

.product-description > h2 {
	margin: 0 0 0.5em;
}

.product-description > p {
	margin: 0;
}

.price {
  color: white;
  text-align: center;
  background: #81b570;
  font-size: 200%;
  width: auto;
  float: left;
  padding: 2%;
}
.price div {
  font-weight: bold;
}

.results_title{
  padding-left: 10%;
  color: #5d8cc2;
}

.information {
  text-align: center;
  background-color: rgba(216, 109, 62, 0.86);
}

.name {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.store {
  font-size: 25px;
  font-weight: bold;
  color: white;
  margin-bottom: 3%;
}

.left_right_contents{
  display: inline-block;
  width: 100%;
}

.nbrs{
  display: inline-block;
  color: white;
  width: 100%;
}

.stars{
  display: inline-block;
  float: right;
  width: 100%;
  background-color: #e8bc44;
  padding: 1%;
  color: #5d8cc2;
  font-size: 40px;
  font-weight: bold;
}

.size_stars{
  width: 5%;
  display: inline-block;
}

@media screen and (max-width:600px) {
  .price {
    width: 100%;
    font-size: 150%;
  }
  .product{
    width: 100%;
  }
  .information {
    text-align: center;
    margin-right: 0%;
  }
  .left_right_contents{
    display: inline-block;
    width: 100%;
    padding-left: 0%;
    margin-top: 0%;
  }
  .product-description {
    margin-top: -37%;
  }
}



/////////////////
.ideas{
  width: 100%;
  padding-top: 8%;
  background-color: #81b570;
 }

 .ideas h2{
   color: #d86d3e;
   font-weight: bold;
   font-size: 30px;
 }

.pictures_idea{
  display: inline-block;
  width: 40%;
  height: 300px;
  text-align: center;
  padding: 0.2%;
}
@media only screen and (max-width: 600px) {
  .ideas{
     width: 100%;
   }
  .pictures_idea{
     width: 100%;
   }
 }

//// price slider  ////
#range-slider {
  max-width: 80%;
  margin: 0 auto;
  padding-top: 50px;
  width: 20%;
  margin-right: 79%;
}
#slider-range { background-color: #D4D4D4; }

.ui-slider-horizontal .ui-slider-range { background-color: #6798BD; }

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-active, .ui-widget-content .ui-state-active, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
  background: #fff!important;
  border: 1px solid #cccccc!important;
}

.ui-slider .ui-slider-handle {
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.20);
  border-radius: 50%;
  height:20px;
  width:20px;
}

#amount {
  font-size: 1.75em;
  font-weight: 300;
  line-height: 1.6875em;
  color:#6798BD;
  text-align:center;
  width:100%;
  margin-top: 20px;
}

////// FOOTER//////

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.generic-anchor {
  color: white;
}
.generic-anchor:visited {
  color: white;
}


.flex-rw {
  display: flex;
  flex-flow: row wrap;
}

main {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9b9b9b;
  line-height: 1;
}

footer {
  background: #373737;
  margin-top: auto;
  width: 100%;
  font-size: 12px;
  color: white;
}

.footer-list-header {
  padding: 10px 0 5px 0;
  color: #fff;
  font-size: 20px;
}

.footer-list-anchor {
}

.footer-social-section {
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-top: 5px;
}

.footer-social-section::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 10px;
  border-top: 1px solid #ccc;
  width: calc(100% - 20px);
}

.footer-social-overlap {
  position: relative;
  z-index: 2;
  padding: 0 20px;
}

.footer-social-connect {
  display: flex;
  align-items: center;
  color: #fff;
}

.footer-social-small {
  font-size: 0.6em;
  padding: 0px 20px;
}

.footer-social-overlap > a {
  font-size: 3em;
}

.footer-social-overlap > a:not(:first-child) {
  margin-left: 0.38em;
}

.footer-bottom-section {
  width: 100%;
  padding: 10px;
  border-top: 1px solid #ccc;
  margin-top: 10px;
}

.footer-bottom-section > div:first-child {
  margin-right: auto;
}

.footer-bottom-wrapper {
  font-size: 1.5em;
  color: #fff;
}

.footer-address {
  display: inline;
  font-style: normal;
}

@media only screen and (max-width: 768px) {
  .footer-list-header {
  }

  .footer-list-anchor {
  }

  .footer-social-connect {
  }

  .footer-social-overlap > a {
  }

  .footer-bottom-wrapper {
  }
}
@media only screen and (max-width: 568px) {
  main {
  }

  .footer-list-top {
    width: 100%;
  }

  .footer-list-header {
  }

  .footer-list-anchor {
  }

  .footer-social-section {
    justify-content: center;
  }

  .footer-social-section::after {
    top: 25%;
  }

  .footer-social-connect {
    margin-bottom: 10px;
    padding: 0 10px;
  }

  .footer-social-overlap {
    display: flex;
    justify-content: center;
  }

  .footer-social-icons-wrapper {
    width: 100%;
    padding: 0;
  }

  .footer-social-overlap > a:not(:first-child) {
    margin-left: 20px;
  }

  .footer-bottom-section {
    padding: 0 5px 10px 5px;
  }

  .footer-bottom-wrapper {
    text-align: center;
    width: 100%;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .footer-social-overlap > a {
    margin: auto;
  }

  .footer-social-overlap > a:not(:first-child) {
    margin-left: 0;
  }

  .footer-bottom-rights {
    display: block;
  }
}
@media only screen and (max-width: 320px) {
  .footer-list-header {
  }

  .footer-list-anchor {
  }

  .footer-social-connect {
  }

  .footer-social-overlap > a {
  }

  .footer-bottom-wrapper {
  }
}






/////////  PRODUCT PAGE //////////

.product_left{
  width: 100%;
  background-color: #e8bc44;
}

.product_image{
  width: 50%;
}

.text_left{
  padding: 2%;
  width: 60%;
  color: white;
  display: inline-block;
  margin-left: 20%;
  font-weight: bold;
}

.text_infos h5{
  color: #428CC6;
  font-weight: bold;
  font-size: 25px;
}

.smalltext{
  font-size: 9px;
  font-style: italic;
  color: white;
  padding-bottom: 1%;
}

.product_infos{
  display: inline-block;
  width: 50%;
  float: left;
  text-align: center;
}

.product_title{
  font-size: 20px;
  color: #5d8cc2;
  font-weight: bold;
  padding: 2%;
}

.food_product_title{
  font-size: 30px;
  color: #81b570;
  font-weight: bold;
  padding: 2%;
}

.product_subtitle{
  color: white;
  font-weight: bold;
}

.product_ss_title{
  color: #e8bc44;
  font-weight: bold;
  font-size: 20px;
}

.equipement{
  width: 30%;
  color: white;
  display: inline-block;
  padding: 1%;
}

.infos_maps{
  background-color: #5d8cc2;
  width: 100%;
  height: auto;
}

.maps_product{
  display: inline-block;
  width: 50%;
}

.maps_title{
  color: #5d8cc2;
  font-weight: bold;
}

.mapouter{
  height:330px;
  width:100%;
}
.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:330px;
  width:712px;
}

.food_bloc{
  width: 100%;
  display: inline-block;
  background-color: #d86d3e;
}

.menus{
  text-align: center;
  color: white;
}

.food{
  color: #81b570;
  font-weight: bold;
  font-size: 20px;
}

.food2{
  color: black;
  font-weight: bold;
}

.ss_food2{
  color: #81b570;
  font-weight: bold;
}

@media only screen and (max-width: 600px){
  .food_bloc{
    width: 100%;
    display: block;
  }
  .mapouter{
    display: none;
  }
  .gmap_canvas {
    display: none;
  }
  .product_infos{
    width: 100%;
  }
}










//////// products with maps /////////

.items {
  width: 60%;
  font-size: 0;
}
.items__item {
  display: inline-block;
  vertical-align: bottom;
  width: 40%;
  margin: 2rem 5%;
  text-align: center;
  padding: 2rem 1rem 1rem;
  cursor: pointer;
  color: #222;
  border-radius: 4px;
}
.items__item img {
  width: 100%;
  height: auto;
}
.items__item.is-selected {
  background: #b00;
  color: white;
}
.items__title {
  font-size: 14px;
  text-transform: uppercase;
  font-family: sans-serif;
  letter-spacing: .1em;
  padding-top: 1rem;
}
.map {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
}
.map__icon {
  position: relative;
}
.map__icon span {
  font-size: 10px;
  white-space: nowrap;
  background: #b00;
  color: white;
  display: block;
  padding: .5em;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.map__icon span:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #b00 transparent transparent transparent;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
}
.popup img {
  width: 100%;
  height: auto;
}
.popup h3 {
  padding: 5px;
  font-size: 12px;
}
.leaflet-popup-content-wrapper {
  border-radius: 4px;
}
.leaflet-popup-content {
  width: 240px;
  padding: 20px 5px 0;
  margin: 0;
}


///// contact page //////
.contact{
  background-color: #7fc0d7;
  padding-top: 5%;
  height: auto;
  padding: 2%;
}

.cf{
  text-align: center;
}

.contact_txt{
 text-align: left;
 width: 80%;
 font-weight: bold;
 color: #5d8cc2;
}

.contact_txt h5{
  font-weight: bold;
}

.contact_title{
  color: #5d8cc2;
  text-align: center;
  font-weight: bold;
}


.contact_subtitle{
  text-align: center;
  font-weight: bold;
  color: #d86d3e;
}

.contact_left{
  width: 70%;
}

.contact_right{
  float: right;
  padding-right: 10%;
}

.contact_right h5{
  color: #5d8cc2;
  font-weight: bold;
  font-size: 20px;
}

form {

}
form input, form textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 1em;
  font-family: 'Merriweather', sans-serif;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}
form input:focus, form textarea:focus {
  -moz-box-shadow: 0 0px 2px #5d8cc2 !important;
  -webkit-box-shadow: 0 0px 2px #5d8cc2 !important;
  box-shadow: 0 0px 2px #5d8cc2 !important;
}
form #input-submit {
  color: white;
  background: #5d8cc2;
  cursor: pointer;
  width: 20%;
  margin-left: -15%;
}
form #input-submit:hover {
  -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}
form textarea {
  height: 107px;
}

.half {
  float: left;
  width: 80%;
  margin-bottom: 1em;
}

.right {
  width: 45%;
  display: inline-block;
  padding-left: 5%;
}

.left {
  width: 45%;
  display: inline-block;
}

.cf h1{
  color: white;
}

@media (max-width: 600px) {
  .cf{
    max-width: 100%;
    text-align: center;
  }
  .cf h1{
    font-size: 12px;
    color: white;
  }
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
  .right {
    width: 70%;
    display: inline-block;
    padding-left: 0%;
  }

  .left {
    width: 70%;
    display: inline-block;
  }
  .contact{
    height: 350px;
  }
  .contact_left{
    display: inline-block;
    width: 100%;
  }
  .contact_right{
    padding-top: 5%;
    padding-left: 5%;
  }
  form #input-submit {
    color: white;
    background: #428CC6;
    cursor: pointer;
    width: 20%;
    margin-left: 40%;
  }
}
/* Clearfix */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

/////// paiement pages  /////

  //////// line of paiement ///////

.progression{
  list-style:none
}
.numberCircle{
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin-left:.6em;
  padding: 4px;
  background: none repeat scroll 0% 0% #FFF;
  border: 2px solid #5d8cc2;
  color: #5d8cc2;
  text-align: center;
  font: 28px HelveticaNeueW01-45Ligh;
  display: inline-block;
}
.numberCircle:after{
  content: "";
  display: inline-block;
  height: 1px;
  background-color: #5d8cc2;
  max-width: 100%;
  position: absolute;
  margin-right: 16px;
  margin-left: 44px;
  margin-top: .5em;
  vertical-align: middle;
  padding: 0px;
  width: 52px;
}
.numberCircle:after:last-child{
  content:"";
  display:none;
  height:0
}
.normal{
  display:block;
  color:#5d8cc2;
  margin-top: 1em;
}
.progression li:nth-child(4) .normal{
  margin-left: 0px;
}
.progression li:nth-child(3) .normal{
  margin-left: -5px;
}
.progression li:nth-child(5) .normal{
  margin-left: -7px;
}
.progression li:nth-child(2) .normal{
  margin-left: -8px;
}
.progression li{min-width: 150px;
  margin-bottom: 2em;
}
.progression li{
  display:inline-block;
  width: 180px;
}
.progression li:last-child .numberCircle:after{
  content:'';
  display:none
}

//////// paiement pages  ////////

.img_paiement{
  width: 15%;
  display: inline-block;
}

.left_display{
  display: inline-block;
  width: 80%;
  padding-left: 10px;
}

.schedule{
  display: inline-block;
}

.left_paiement{
  float: left;
  margin-left: 10px;
  width: 60%;
}

.right_paiement{
  float: right;
  padding-right: 10px;
}

.right_infos{
  border: 1px solid black;
}

.right_recap{
  border: 1px solid black;
}

.right_why{
  background-color: #5d8cc2;
}

.radio_left{
display: inline-block;
}

.radio_right{
display: inline-block;
padding-left: 10px;
}



/////// résults  ///////

.wrapper {
  height: 420px;
  width: 654px;
  margin: 50px auto;
  border-radius: 7px 7px 7px 7px;
  /* VIA CSS MATIC https://goo.gl/cIbnS */
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.product-img {
  float: left;
  height: 420px;
  width: 327px;
}

.product-img img {
  border-radius: 7px 0 0 7px;
}

.product-info {
  float: left;
  height: 420px;
  width: 327px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}

.product-text {
  height: 300px;
  width: 327px;
}

.product-text h1 {
  margin: 0 0 0 38px;
  padding-top: 52px;
  font-size: 34px;
  color: #474747;
}

.product-text h1,
.product-price-btn p {
  font-family: 'Bentham', serif;
}

.product-text h2 {
  margin: 0 0 47px 38px;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #d2d2d2;
  letter-spacing: 0.2em;
}

.product-text p {
  height: 125px;
  margin: 0 0 0 38px;
  font-family: 'Playfair Display', serif;
  color: #8d8d8d;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
}

.product-price-btn {
  height: 103px;
  width: 327px;
  margin-top: 17px;
  position: relative;
}

.product-price-btn p {
  display: inline-block;
  position: absolute;
  top: -13px;
  height: 50px;
  font-family: 'Trocchi', serif;
  margin: 0 0 0 38px;
  font-size: 28px;
  font-weight: lighter;
  color: #474747;
}

span {
  display: inline-block;
  height: 50px;
  font-family: 'Suranna', serif;
  font-size: 34px;
}

.product-price-btn button {
  float: right;
  display: inline-block;
  height: 50px;
  width: 176px;
  margin: 0 40px 0 16px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #9cebd5;
  cursor: pointer;
  outline: none;
}

.product-price-btn button:hover {
  background-color: #79b0a1;
}
