.jumbotron_sg nav {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 1em;
  padding-top: .50em;
  padding: 1%;
  background-color: #d86d3e;
}
.jumbotron_sg nav a:nth-of-type(2) {
  margin-left: auto;
  border: solid 2px white;
  padding: .15em .60em;
}
.jumbotron_sg nav a:nth-of-type(2):hover {
  margin-left: auto;
  border: solid 2px white;
  padding: .15em .60em;
  background-color: #5d8cc2;
  color: white;
}
.jumbotron_sg nav a {
  color: white;
  margin: auto .80em;
  text-decoration: none;
  text-shadow: 0 1px 2px black;
}

.my_color{
  color: #7fc0d7;
}

.office_color{
  color: #e8bc44;
}

.booker_color{
  color: #81b570;
}

.sstitle_color{
  color: #d86d3e;
}

.styleguide_home{
  text-align: center;
}

.atoms a{
  text-decoration: none;
  color: #5d8cc2;
}

.atoms a:hover{
  color: #93629d;
}

.atoms{
  color: #5d8cc2;
}

.styleguide_home h3{
  float: left;
  margin-left: 5%;
}

.components a{
  text-decoration: none;
  color: #d86d3e;
}

.components a:hover{
  color: #7fc0d7;
}

.components{
  color: #d86d3e;
}

.pages a{
  text-decoration: none;
  color: #e8bc44;
}

.pages a:hover{
  color: #81b570;
}

.pages{
  color: #e8bc44;
}

.colors_style{
  margin-left: 10%;
}

.round_colors{
  border-radius: 50%;
  width: 12%;
  height: 20%;
  display: inline-block;
}

.color_name{
  display: inline-block;
  font-weight: bold;
}
