.my_color{
  color: #7fc0d7;
}

.office_color{
  color: #e8bc44;
}

.booker_color{
  color: #81b570;
}

.sstitle_color{
  color: #d86d3e;
}

.colors_style{
  margin-left: 10%;
}

.round_colors{
  border-radius: 50%;
  width: 12%;
  height: 20%;
  display: inline-block;
}

.color_name{
  display: inline-block;
  font-weight: bold;
}
