.create_title{
  color: white;
  background-color: #428CC6;
}

.building_left{
  float: left;
  width: 70%;
  background-color: white;
  display: inline-block;
}

.navleft_building{
  float: left;
  width: 20%;
  height: 1000px;
  background-color: rgb(246, 246, 246);
}

.onglets{
  text-decoration: none;
  color: black;
}

.navleft2_building{
  margin-left: 20%;
  padding-left: 2%;
  padding-right: 2%;
}

.input{
  width: 100%;
}



.building_right{
  float: right;
  width: 30%;
  height: 1000px;
  background-color: rgb(246, 246, 246);
  display: inline-block;
}

.bloc_right{
  text-align: center;
  width: auto;
  height: auto;
  background-color: white;
  margin-left: 170px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 17%;
  position: fixed;
}

.input_title{
  color: #428CC6;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .building_right{
    display: none;
  }
  .navleft_building{
    display: none;
  }
  .navleft2_building{
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 25px;
  }
  .mapouter{
    width: 100%;
  }

  #gmap_canvas{
    width: 100%;
    text-align: center;
  }
  .building_left{
    width: 90%;
  }
  .create_title{
    padding-top: 5px;
    font-size: 20px;
    padding-bottom: 5px;
  }
}
