html
  head
    title
      | MySpaceBooker
    meta(
      content    = ("text/html; charset=UTF-8")
      http-equiv = "Content-Type"
      charset    = "utf-8"
    )
    link(
      href = "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
    )
    link(
      href = "https://fonts.googleapis.com/css?family=Open+Sans:600"
      rel  = "stylesheet"
    )
    link(
      href = "https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
      rel  = "stylesheet"
    )
    link(
      href = "https://cdnjs.cloudflare.com/ajax/libs/rome/2.1.22/rome.css"
      rel  = "stylesheet"
    )
    link(
      href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"
    )

    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application',
      media: 'all',
      'data-turbolinks-track': 'reload'

    = javascript_include_tag 'application',
      'data-turbolinks-track': 'reload'

  body
    = yield
